<h1>{{ heroe.id ? 'Update' : 'Add'}} Heroe</h1>
<mat-divider></mat-divider>
<br />

<form (ngSubmit)="saveHeroe()" method="POST">
    <div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column" fxLayout.sm="column">
    
        <div fxFlex="50" fxLayout="column">
            
            <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field fxFlex="100">
                    <mat-label>SuperHeroe</mat-label>
                    <input matInput type="text" required [(ngModel)]="heroe.superhero" name="superhero"/>
                </mat-form-field>
        
                <mat-form-field fxFlex="100">
                    <mat-label>Alter Ego</mat-label>
                    <input matInput type="text" required [(ngModel)]="heroe.alter_ego" name="alter_ego"/>
                </mat-form-field>
            </div>
    
            <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field fxFlex="100">
                    <mat-label>First Appearance</mat-label>
                    <input matInput type="text" required [(ngModel)]="heroe.first_appearance" name="first_appearance"/>
                </mat-form-field>
        
                <mat-form-field fxFlex="100">
                    <mat-label>Characters</mat-label>
                    <input matInput type="text" required [(ngModel)]="heroe.characters" name="characters"/>
                </mat-form-field>
            </div>
    
            <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field fxFlex="100">
                    <mat-label>Publisher</mat-label>
                    <mat-select [(ngModel)]="heroe.publisher" name="publisher" required>
                        <mat-option  
                        value="{{publisher}}" 
                        *ngFor="let publisher of publishers"
                        >{{publisher}}</mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field fxFlex="100">
                    <mat-label>Image URL</mat-label>
                    <input matInput type="text" [(ngModel)]="heroe.alt_img" name="alt_img"/>
                </mat-form-field>
            </div>
    
            <div fxLayout="row" fxLayoutGap="20px">
                <button mat-raised-button color="primary" type="submit" fxFlex="50">
                    <mat-icon>save</mat-icon>
                    Save
                </button>

                <button mat-raised-button color="warn" type="button" fxFlex="50" (click)="deleteHero()" *ngIf="heroe.id">
                    <mat-icon>delete</mat-icon>
                    Delete
                </button>
            </div>
            
        </div>
        <div fxFlex="50" fxLayoutAlign="center">
            <img src="{{heroe | image}}" alt="">
        </div>
    </div>
</form>
